* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Edge */
  user-select: none;         /* Standard */
}

body{
    font-family: sans-serif;
    background-color: aliceblue;
    text-align: center;
    padding-top: env(safe-area-inset-top);
}
h1{
    cursor: default;
}

h2{
    font-size: 70px;
    font-weight: normal;
    color: aqua;
}
.generate{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px, solid;
    border-color: aqua;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #2C2C2C;
        color: aliceblue;
    }
    .generate{
        color:aliceblue
    }
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
